<ionic-content class="view">
	<div ng-class="{'hidden': !game.winner}" class="game-over">
		<div>Game Over! Winner is </div>
		<div ng-class="{'player1': game.winner === 1, 'player2': game.winner === 2, 'tied': game.winner === 3}">
			{{winner()}}
		</div>
	</div>
	<div class="board">
		<div class="players-container">
			<div class="players" ng-class="{'player1-active': game.playerTurn === 1}">
				<span>{{(ai) ? "Player" : "Player 1"}}</span>
				<span class="points1 player1">{{game.playerPoints[0]}}</span>
			</div>
			<div class="players" ng-class="{'player2-active': game.playerTurn === 2}">
				<span class="points2 player2">{{game.playerPoints[1]}}</span>
				<span>{{(ai) ? "AI" : "Player 2"}}</span>
			</div>
		</div>
		<div ng-repeat="row in game.board" class="board-row">
			<div ng-repeat="cell in row track by $index" ng-class="{'mine-cell': (cell.flippedBy && cell.value === 0)}" class="board-cell {{'flipped-by'+cell.flippedBy}}"
				ng-class="{'newestCell': (cell.row === game.newestFlip.row && cell.col === game.newestFlip.col)}" ng-click="flip(cell)">
				<span ng-if="cell.flippedBy && cell.value">{{cell.value}}</span>
				<span ng-if="cell.flippedBy && cell.value === 0"></span>
			</div>
			<div class="sum-cell">
				<div class="sum values-sum">
					<span class="icon"></span>
					<span>{{game.hSums[$index].values}}</span>
				</div>
				<div class="sum mines-sum">
					<span class="icon"></span>
					<span>{{game.hSums[$index].mines}}</span>
				</div>
			</div>
		</div>
		<div class="board-row">
			<div ng-repeat="vSum in game.vSums track by $index" class="sum-cell">
				<div class="sum values-sum">
					<span class="icon"></span>
					<span>{{game.vSums[$index].values}}</span>
				</div>
				<div class="sum mines-sum">
					<span class="icon"></span>
					<span>{{game.vSums[$index].mines}}</span>
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<div class="buttons-container">
		<button ng-repeat="button in buttons" ng-click="button.action()">
			{{button.text}}
		</button>
	</div>
</ionic-content>