.header {
	background-color: #47b39d;
	height: 10vh;
	padding: 0;
}
.header ul {
	display: flex;
	width: 100%;
}
.header li {
	list-style: none;
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.header ul .active {
	background-color: #2c6d60;
}
.header a {
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 4vh;
    line-height: 10vh;
	color: #fff;
	text-decoration: none;
	width: 100%;
}
.content {
	top: 10vh;
	background-color: #ebebeb;
}
.view {
	background-color: #ffdd99;
	box-sizing: border-box;
	max-width: 764px;
	margin: 0 auto;
}
.board {
	padding: 10px 30px;
}
.board .board-row {
	display: flex;
}
.board .board-row .board-cell {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}
.buttons-container {
	width: 100%;
	display: flex;
}
.buttons-container button {
	margin: 0 auto;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	box-shadow: none;
	border-width: 2px;
	background-color: #cc3300;
	color: #fff;
	font-size: 1.5em;
	border-color: #992600;
}