.content .tabs {
	top: 0;
	padding: 0;
}
.content .tab-content {
	top: 49px;
}
.view {
	background-color: #ffdd99;
	box-sizing: border-box;
	max-width: 764px;
	margin: 0 auto;
}
.hidden {
	visibility: hidden;
}
.game-over {
	font-size: 2em;
	height: 2em;
	margin: 2vh auto;
	text-align: center;
}
.game-over > div {
	padding-bottom: 5px;
}
.players-container {
	display: flex;
	margin: 10px auto;
}
.players {
	width: 100%;
	display: inline-block;
	line-height: 7vw;
	font-size: 7vw;
	padding-bottom: 8px;
	border: 2px solid transparent;
}
.players:last-child {
	text-align: right;
}
.player1 {
	color: red;
}
.player2 {
	color: green;
}
.tied {
	color: #ff9933;
}
.players .points1 {
	margin-right: 15px;
	float: right;
}
.players .points2 {
	margin-left: 15px;
	float: left;
}
.player1-active {
	border: 2px solid red;
}
.player2-active {
	border: 2px solid green;
}
.board {
	padding: 0 2vw;
	margin-bottom: 15px;
}
.board-row {
	margin: 2px auto;
	height: 14vw;
}
.board-row .flipped-by0 {
	background-image: url('../img/questionmark.jpg');
	background-size: contain;
}
.board-row .flipped-by1 {
	background-color: red;
}
.board-row .flipped-by2 {
	background-color: green;
}
.board-row .newestCell {
	border: 3px solid black;
}
.board-row .mine-cell {
	background-image: url('../img/mine.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.board-cell, .sum-cell {
	display: inline-block;
	width: 14vw;
	height: 14vw;
	border-radius: 2px;
	margin: 2px;
}
.board-cell {
	border: 1px solid black;
	vertical-align: top;
	line-height: 14vw;
	text-align: center;
	font-size: 6vw;
	text-shadow: 1px -1px #fff, 1px 1px #fff, -1px -1px #fff, -1px 1px #fff;
	font-weight: 900;
}
.board-cell img {
	width: 100%;
	height: 100%;
}
.sum-cell {
	text-align: right;
}
.sum-cell span {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sum-cell img {
	height: 100%;
	width: auto;
}
.sum {
	height: 50%;
	display: flex;
	font-size: 5vw;
	line-height: 5vw;
	padding: 5px 0;
}
.sum .icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}
.values-sum .icon {
	background-image: url('../img/sum.png');
}
.mines-sum .icon {
	background-image: url('../img/mine.png');
}
.buttons-container {
	width: 100%;
	display: flex;
}
.buttons-container button {
	margin: 0 auto;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	box-shadow: none;
	border-width: 2px;
	background-color: #cc3300;
	color: #fff;
	font-size: 1.5em;
	border-color: #992600;
}